@import 'taobao-main.css';
 
body {
    font: 12px/1.5 tahoma, arial, 'Hiragino Sans GB', '\5b8b\4f53', sans-serif;
}
 
@font-face {
    font-family: 'iconfont';
    /* Project id 4734965 */
    src:
        url('//at.alicdn.com/t/c/font_4734965_ebfx6rrvjc4.woff2?t=1732200387173') format('woff2'),
        url('//at.alicdn.com/t/c/font_4734965_ebfx6rrvjc4.woff?t=1732200387173') format('woff'),
        url('//at.alicdn.com/t/c/font_4734965_ebfx6rrvjc4.ttf?t=1732200387173') format('truetype');
}
 
@font-face {
    font-family: 'iconfont';
    /* Project id 4755061 */
    src: url('//at.alicdn.com/t/c/font_4755061_cdtemotjyge.woff2?t=1732193923195') format('woff2'),
        url('//at.alicdn.com/t/c/font_4755061_cdtemotjyge.woff?t=1732193923195') format('woff'),
        url('//at.alicdn.com/t/c/font_4755061_cdtemotjyge.ttf?t=1732193923195') format('truetype');
}
 
.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
 
.headmessage {
    background-color: #f0f0f0;
    width: 1200px;
    height: 35px;
}
 
.headmessage li {
    float: left;
    line-height: 35px;
    padding: 0 6px;
    font-size: 0;
}
 
.headmessage li a {
    color: #6c6c6c;
    font-size: 12px;
}
 
.headmessage li a.login {
    color: #f22e00;
    margin-right: 7px;
}
 
.headmessage span {
    font-size: 12px;
}
 
.headmessage span.arrow {
    margin: 0 7px;
}
 
.headseach .taobao {
    background-position: 10%;
    background-size: contain;
    display: block;
    height: 0;
    overflow: hidden;
    padding-top: 72px;
    text-indent: -9999px;
    width: 240px;
    background-image: url("淘宝.png");
    background-repeat: no-repeat;
}
 
.headseach .left {
    position: absolute;
    left: 20px;
    top: 17px;
}
 
.headseach {
    position: relative;
    width: 1200px;
    height: 100px;
    background-color: white;
    padding: 24px 0 10px 0;
}
 
.headseach .right {
    position: absolute;
    right: 150px;
    top: 5px;
}
 
.headseach .hotword {
    --tbpc-primary-theme-alpha-color: #ff500015;
    --tbpc-secondary-theme-color: #ff5000 !important;
    --tbpc-secondary-theme-alpha-color: #ff500015;
    --tbpc-price-color: #ff5000;
    --tbpc-price-alpha-color: #ff500015;
    --tbpc-border-theme-color: #ffd5c2;
    --tbpc-background-theme--color: #fff1eb;
    --tbpc-gold-theme-color: #b88449;
    --tbpc-primary-color: #1f1f1f;
    --tbpc-tertiary-color: #999;
    --tbpc-disable-color: #ccc;
    --tbpc-border-color: #d6d6d6;
    --tbpc-divider-color: #ebebeb;
    --tbpc-bg1-color: #f5f5f5;
    --tbpc-bg2-color: #f7f7f7;
    --tbpc-bg3-color: #fafafa;
    --tbpc-white-color: #fff;
    --tbpc-primary-alpha-color: rgba(0, 0, 0, .88);
    --tbpc-secondary-alpha-color: rgba(0, 0, 0, .52);
    --tbpc-tertiary-alpha-color: rgba(0, 0, 0, .4);
    --tbpc-disable-alpha-color: rgba(108, 20, 20, .2);
    --tbpc-border-alpha-color: rgba(0, 0, 0, .16);
    --tbpc-divider-alpha-color: rgba(0, 0, 0, .08);
    --tbpc-bg1-alpha-color: rgba(0, 0, 0, .04);
    --tbpc-bg2-alpha-color: rgba(0, 0, 0, .03);
    --tbpc-bg3-alpha-color: rgba(0, 0, 0, .02);
    --tbpc-primary-theme-color: #ff5000;
    --tbpc-secondary-color: #7a7a7a;
    font: 12px/1.5 system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji, BlinkMacSystemFont, Helvetica Neue, Arial, PingFang SC, PingFang TC, PingFang HK, Microsoft Yahei, Microsoft JhengHei;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    -webkit-box-pack: start;
    justify-content: flex-start;
    max-width: 750px;
    -webkit-box-align: start;
    align-items: flex-start;
    flex-wrap: wrap;
    overflow: hidden;
    margin-left: 290px;
    margin-top: 40px;
    height: 16px;
 
}
 
.headseach .center .hotword a {
    margin: 5px;
 
}
 
.headseach .center {
    width: 630px;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
}
 
.headseach .center .searchbox {
    width: 554px;
    height: 40px;
    box-sizing: border-box;
    border: 2px solid #ff5000;
    border-right: none;
    border-radius: 20px 0 0 20px;
    position: relative;
    margin-top: 25px;
}
 
.headseach .center input {
    width: 490px;
    height: 36px;
    line-height: 36px;
    outline: none;
    border: none;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    text-indent: 10px;
 
}
 
.headseach .center button {
    position: absolute;
    top: -2px;
    right: -70px;
    width: 74px;
    height: 40px;
    text-align: center;
    font-size: 18px;
    line-height: 40px;
    color: #fff;
    border: none;
    background-image: linear-gradient(to right, #ff9000, #ff5000);
    border-radius: 0 20px 20px 0;
 
}
 
.nav {
    position: absolute;
    display: block;
    left: 230px;
    right: 0;
    font-size: 20px;
    width: 1104px;
    height: 48px;
    margin-top: -25px;
}
 
.nav a {
    margin: 10px;
    position: relative;
    top: -20px;
    font-weight: bold;
}
 
.screen {
    width: 1200px;
    height: 400px;
    position: relative;
    top: 25px;
}
 
.screen .sidenav {
    width: 256px;
    height: 400px;
    background-color: #f0f0f0;
    border-radius: 10px;
}
 
.screen .sidenav li {
    line-height: 20px;
    height: 37px;
    text-align: center;
    margin: 0px 5px;
    text-indent: -50px;
}
 
.screen .sidenav span {
    margin-left: 30px;
}
 
.screen .img1 {
    width: 600px;
    height: 400px;
    background-color: #f0f0f0;
    position: absolute;
    left: 313px;
    border-radius: 10px;
 
}
 
.screen .signin {
    width: 232px;
    height: 400px;
    background-color: #f0f0f0;
    border-radius: 10px;
    position: relative;
}